.newsletter-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  position: relative;
}

@media screen and (min-width: 750px) {
  .newsletter-form {
    align-items: flex-start;
    margin: 0 auto;
    max-width: 70rem;
  }
}

.newsletter-form__field-wrapper {
  width: 100%;
  background-color: rgb(var(--color-base-background-1));
}

.newsletter-form__field-wrapper .field {
  z-index: 0;
  padding: 1rem;
}

.newsletter-form__message {
  justify-content: center;
  margin-bottom: 0;
}

.newsletter-form__message--success {
  margin-top: 2rem;
}

@media screen and (min-width: 750px) {
  .newsletter-form__message {
    justify-content: flex-start;
  }
}

.newsletter-form__button {
  width: 4.4rem;
  margin: 0;
  right: var(--inputs-border-width);
  top: 0;
  height: 100%;
  z-index: 2;
}

.newsletter-form__button:focus-visible {
  box-shadow: 0 0 0 .3rem rgb(var(--color-background)),0 0 0 .4rem rgba(var(--color-foreground));
  background-color: rgb(var(--color-background));
}

.newsletter-form__button:focus {
  box-shadow: 0 0 0 .3rem rgb(var(--color-background)),0 0 0 .4rem rgba(var(--color-foreground));
  background-color: rgb(var(--color-background));
}

.newsletter-form__button:not(:focus-visible):not(.focused) {
  box-shadow: inherit;
  background-color: rgb(var(--color-foreground));
  color: rgb(var(--color-base-background-1));
}

.newsletter-form__button .icon {
  width: 1.5rem;
}

/* Custom style */
.newsletter .newsletter__wrapper .field {
  display: grid;
  grid-gap: 1rem;
}

@media screen and (min-width: 750px) {
  .newsletter .newsletter__wrapper .field {
    grid-template-columns: 2fr 1fr;
  }
}

.newsletter .newsletter__wrapper .field input {
  height: auto;
}

.newsletter .newsletter__wrapper .field input:focus {
  padding: 2rem;
}

.field__input:focus ~ .field__label {
  display: none;
}

.newsletter .newsletter__wrapper .field__label {
  position: absolute;
  transform: translate(-50%, -50%);
  left: 50%;
  top: 25%;
  width: inherit;
}

@media screen and (min-width: 750px) {
  .newsletter .newsletter__wrapper .field__label {
    left: 25%;
    top: 50%;
  }
}

@media screen and (min-width: 990px) {
  .newsletter .newsletter__wrapper .field__label {
    left: 20%;
  }
}

.newsletter .newsletter__wrapper .field__button {
  position: relative;
  width: auto;
  padding: 2.5rem 0;
  letter-spacing: 0.4rem;
}

.newsletter__wrapper .decor {
  display: block!important;
  background: url(https://cdn.shopify.com/s/files/1/0117/9005/7534/files/fruit2-3.png) center center / contain no-repeat;
  position: absolute;
  z-index: 0;
  transform: translate(-50%,-50%);
  height: 100%;
  width: 10rem;
  left: 50%;
  top: 83%;
}

.newsletter .newsletter__wrapper .decor-fruit::before {
  content: "";
  background: center/contain no-repeat url(https://cdn.shopify.com/s/files/1/0117/9005/7534/files/fruit2-3.png);
  position: absolute;
  width: 100%;
  height: 10rem;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-35%);
  z-index: -1;
}

@media screen and (min-width: 750px) {
  .newsletter .newsletter__wrapper .decor-fruit::before {
    height: 15rem;
  }
}