.list-social {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
}

@media only screen and (max-width: 749px) {
  .list-social {
    justify-content: center;
  }
}

.list-social__item .icon {
  height: 1.5rem;
  width: 1.5rem;
}

.list-social__link {
  align-items: center;
  display: flex;
  padding: 1.3rem;
  color: rgb(var(--color-foreground));
  text-decoration: none;
}

.list-social__link:hover .icon {
  transform: scale(1.07);
}

/* Custom style */
.footer__list-social.tablet-view {
  display: none;
}

@media screen and (min-width:750px) {
  .list-social.mobile-view {
    display: none;
  }

  .footer__list-social.tablet-view {
    display: block;
  }
}

@media screen and (min-width:990px) {
  .footer__list-social.tablet-view {
    display: none;
  }
}

.list-social__link span {
  display: none;
}

@media screen and (min-width:990px) {
  .list-social__link span {
    display: block;
  }
}
