.collection-tabs .tab {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	overflow: hidden;
	margin: 0;
	border-bottom: 0.1rem solid rgba(var(--color-foreground), 0.15);
	padding: 0;
}

@media screen and (min-width: 750px) {
	.collection-tabs .tab {
		margin: 0 3rem;
	}
}

@media screen and (min-width: 990px) {
	.collection-tabs .tab {
		margin: 0 5rem;
	}
}

.collection-tabs .tab button {
	border: none;
	outline: none;
	cursor: pointer;
	padding: 0;
	transition: 0.3s;
}

@media screen and (min-width: 750px) {
	.collection-tabs .tab button {
		padding: 1rem 3rem;
	}
}

.tab button:hover {
	opacity: 0.8;
}

.tab button.active {
	border-bottom: 0.2rem solid rgba(var(--color-foreground));
}

.tab button.active h3{
	font-weight: 600;
}

.tabcontent {
	display: none;
	margin: 3rem 0;
}

@media screen and (min-width: 750px) {
	.tabcontent {
		margin: 5rem 3rem;
	}

	.tabcontent ul > li:nth-child(4) {
		display: none;
	}
}

@media screen and (min-width: 990px) {
	.tabcontent {
		margin: 5rem;
	}

	.tabcontent ul > li:nth-child(4) {
		display: block;
	}
}

.tabcontent .card {
	display: grid;
	grid-template-rows: auto 1fr;
	padding: 3rem 2rem;
}

.tabcontent .card .card__content .card__information {
	display: grid;
	grid-template-rows: 2fr 4fr 1fr;
	align-items: center;
	justify-content: center;
}

.tabcontent .card.placeholder .card__content .card__information {
	grid-template-rows: 2fr 1fr 1fr;
}

.tabcontent .card.placeholder .card__content .card__information .card-information {
	display: grid;
	justify-content: center;
}

.tabcontent .slider-button {
	position: absolute;
	z-index: 1;
}

.tabcontent .slider-button.slider-button--prev {
	left: -5px;
	top: 25%;
}

.tabcontent .slider-button.slider-button--next {
	right: -5px;
	top: 25%;
}

.tabcontent .slider-button .icon {
	height: 2rem;
}