slideshow-component {
  position: relative;
  display: block;
}

@media screen and (max-width: 989px) {
  .no-js slideshow-component .slider {
    padding-bottom: 3rem;
  }
}

slideshow-component .slideshow.banner {
  flex-direction: row;
  flex-wrap: nowrap;
  margin: auto;
  gap: 0;
}

.slideshow__slide {
  padding: 0;
  position: relative;
  display: flex;
  flex-direction: column;
}

@media screen and (max-width: 749px) {
  .slideshow--placeholder.banner--mobile-bottom.banner--adapt_image .slideshow__media,
  .slideshow--placeholder.banner--adapt_image:not(.banner--mobile-bottom) {
    height: 28rem;
  }
}

@media screen and (min-width: 750px) {
  .slideshow--placeholder.banner--adapt_image {
    height: 56rem;
  }
}

.slideshow__text.banner__box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 54.5rem;
}

slideshow-component.page-width .slideshow__text {
  border-right: var(--text-boxes-border-width) solid rgba(var(--color-foreground), var(--text-boxes-border-opacity));
  border-left: var(--text-boxes-border-width) solid rgba(var(--color-foreground), var(--text-boxes-border-opacity));
}

.slideshow__text > * {
  max-width: 100%;
}

@media screen and (max-width: 749px) {
  .banner--mobile-bottom .slideshow__text.banner__box {
    max-width: 100%;
  }

  .banner--mobile-bottom .slideshow__text-wrapper {
    flex-grow: 1;
  }

  .banner--mobile-bottom .slideshow__text.banner__box {
    height: 100%;
  }

  .banner--mobile-bottom .slideshow__text .button {
    flex-grow: 0;
  }

  .slideshow__text.slideshow__text-mobile--left {
    align-items: flex-start;
    text-align: left;
  }

  .slideshow__text.slideshow__text-mobile--right {
    align-items: flex-end;
    text-align: right;
  }
}

@media screen and (min-width: 750px) {
  .slideshow__text.slideshow__text--left {
    align-items: flex-start;
    text-align: left;
  }

  .slideshow__text.slideshow__text--right {
    align-items: flex-end;
    text-align: right;
  }
}

.slideshow:not(.banner--mobile-bottom) .slideshow__text-wrapper {
  height: 100%;
}

@media screen and (min-width: 750px) {
  .slideshow__text-wrapper.banner__content {
    height: 100%;
    padding: 5rem;
  }
}

.slideshow__controls {
  border: 0.1rem solid rgba(var(--color-foreground), 0.08);
}

@media screen and (max-width: 749px) {
  slideshow-component.page-width .slideshow.banner--mobile-bottom + .slideshow__controls {
    border-bottom-right-radius: var(--text-boxes-radius);
    border-bottom-left-radius: var(--text-boxes-radius);
  }
}

.spaced-section--full-width:last-child slideshow-component:not(.page-width) .slideshow__controls {
  border-bottom: none;
}

@media screen and (min-width: 750px) {
  .slideshow__controls {
    position: relative;
  }
}

slideshow-component:not(.page-width) .slider-buttons {
  border-right: 0;
  border-left: 0;
}

.slideshow__control-wrapper {
  display: flex;
}

.slideshow__autoplay {
  position: absolute;
  right: 0;
  border-left: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media screen and (max-width: 749px) {
  slideshow-component.page-width .slideshow__autoplay {
    right: 1.5rem;
  }
}

@media screen and (min-width: 750px) {
  .slideshow__autoplay.slider-button {
    position: inherit;
    margin-left: 0.6rem;
    padding: 0 0 0 0.6rem;
    border-left: 0.1rem solid rgba(var(--color-foreground), 0.08);
  }
}

.slideshow__autoplay .icon.icon-play,
.slideshow__autoplay .icon.icon-pause {
  display: block;
  position: absolute;
  opacity: 1;
  transform: scale(1);
  transition: transform 150ms ease, opacity 150ms ease;
  width: 0.8rem;
  height: 1.2rem;
}

.slideshow__autoplay .icon.icon-play {
  height: 1rem;
}

.slideshow__autoplay path {
  fill: rgba(var(--color-foreground), 0.75);
}

.slideshow__autoplay:hover path {
  fill: rgb(var(--color-foreground));
}

@media screen and (forced-colors: active) {
  .slideshow__autoplay path,
  .slideshow__autoplay:hover path{
    fill: CanvasText;
  }
}

.slideshow__autoplay:hover svg {
  transform: scale(1.1);
}

.slideshow__autoplay--paused .icon-pause,
.slideshow__autoplay:not(.slideshow__autoplay--paused) .icon-play {
  visibility: hidden;
  opacity: 0;
  transform: scale(.8)
}

/* Custom style */
.position--absolute.slideshow__controls {
  border: none;
  position: absolute;
  transform: translate(-50%, -50%);
  left: 50%;
  top: 50%;
  z-index: 1;
}

@media screen and (min-width: 750px) {
  .position--absolute.slideshow__controls {
    top: 50%;
  }
}

.position--absolute.slideshow__controls .slider-button {
  position: absolute;
  width: auto;
  height: auto;
}

.position--absolute.slideshow__controls .slider-button--prev {
  left: -80vw;
  right: 0;
  top: -28rem;
}

.position--absolute.slideshow__controls .slider-button--next {
  left: 0;
  right: -80vw;
  top: -28rem;
}

@media screen and (min-width: 750px) {
  .position--absolute.slideshow__controls .slider-button--prev {
    left: -70rem;
    top: 0;
  }
  
  .position--absolute.slideshow__controls .slider-button--next {
    right: -70rem;
    top: 0;
  }
}

@media screen and (min-width: 990px) {
  .position--absolute.slideshow__controls .slider-button--prev {
    left: -95rem;
  }
  
  .position--absolute.slideshow__controls .slider-button--next {
    right: -95rem;
  }
}

.position--absolute.slideshow__controls .slider-counter--dots {
  position: absolute;
  top: 35rem;
  bottom: 0;
}

.position--absolute.slideshow__controls .slideshow__autoplay {
  display: none;
}

.position--absolute.slideshow__controls .slider-button svg {
  height: 2rem;
}

@media screen and (min-width: 750px) {
  .slider-content__grid--reverse {
    flex-direction: row-reverse;
  }
}

.slide__content-wrapper {
  display: grid;
  grid-template-rows: repeat(2, minmax(0, 2fr));
  padding-bottom: 15rem;
  max-width: 45rem;
}

@media screen and (min-width: 750px) {
  .slide__content-wrapper {
    grid-template-rows: unset;
    grid-template-columns: repeat(2, minmax(0, 2fr));
    padding-bottom: 0;
    max-width: 70rem;
    height: 100%;
  }
}

@media screen and (min-width: 990px) {
  .slide__content-wrapper {
    max-width: 90rem;
  }
}

.slide__content-wrapper > .grid__item {
  position: relative;

}

@media screen and (min-width: 750px) {
  .slide__content-wrapper.slider-content__grid--reverse .slide__media-wrapper {
    order: 2;
  }

  .slide__content-wrapper.slider-content__grid--reverse .slide__text-wrapper {
    order: 1;
  }
}

.slide__media-wrapper {
  background-color: transparent;
}

.slide__media-wrapper > img {
  object-fit: contain;
  transform: scale(0.7);
}

.slide__text-wrapper {
  display: flex;
  flex-direction: column;
  align-self: center;
  padding: 3rem 1rem;
}

@media screen and (min-width: 750px) {
  .slide__text-wrapper {
    padding: 2rem;
  }
}

.slide__text-wrapper > * {
  margin-top: 2rem;
}

.slide__text-wrapper > *:first-child {
  margin-top: 0;
}

.slide__text-wrapper > * + .banner__buttons {
  margin-top: 5rem;
}

.slide__text-wrapper.slideshow__text-mobile--center {
  align-items: center;
  text-align: center;
}

.slide__text-wrapper.slideshow__text-mobile--left {
  align-items: flex-start;
  text-align: left;
}

.slide__text-wrapper.slideshow__text-mobile--right {
  align-items: flex-end;
  text-align: right;
}

@media screen and (min-width: 750px) {
  .slide__text-wrapper.slideshow__text--center {
    align-items: center;
    text-align: center;
  }

  .slide__text-wrapper.slideshow__text--left {
    align-items: flex-start;
    text-align: left;
  }

  .slide__text-wrapper.slideshow__text--right {
    align-items: flex-end;
    text-align: right;
  }
}

.decor-container {
  position: relative;
  height: auto;
  z-index: 2;
}

@media screen and (min-width: 750px) {
  .decor-container {
    height: 10rem;
  }
}

.decor-container .decor-fruit {
  display: block!important;
  background: url(https://cdn.shopify.com/s/files/1/0117/9005/7534/files/fruit2-3.png) center center / contain no-repeat;
  position: absolute;
  z-index: 1;
  transform: translate(-50%,-50%);
  width: 100%;
  height: 20rem;
  left: 50%;
  top: 0;
}